# Python cache
__pycache__/
*.pyc
*.pyo

# Environment & credentials
.env
.env.txt
*.json.key

data/mangroves/extracted*/
data/mangroves/*.zip
qgis_processing/*/resources/
qgis_processing/*/webfonts/
*.tif
