# Python cache
__pycache__/
*.pyc
*.pyo

# Environment & credentials
.env
.env.txt
*.json.key

data/mangroves/extracted*/
data/mangroves/*.zip
qgis_processing/*/resources/
qgis_processing/*/webfonts/
*.tif

data/boundaries/land-polygons-complete-4326.zip
data/boundaries/land-polygons-complete-4326/

Outputs2/
OUTPUTS3/
outputs4/
